---
import { ourValues } from "../data/pages/about";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Conoce a Gigamas | Tu Proveedor de Internet y Cable de Confianza">
    <div class="bg-custom-gradient-global w-full">
        <!-- desktop -->
        <section class="hidden max-w-7xl  lg:flex items-center m-auto">
            <img
                src="/imgs/pages/about/man_happy.png"
                class=" w-[400px] "
                alt=""
            />

            <div class="flex flex-col gap-8 py-8">
                <h2
                    class="text-cprimary text-xl md:text-4xl lg:text-5xl text-center font-bold"
                >
                    ¿ QUIENES SOMOS?
                </h2>

                <p class="text-cprimary text-center">
                    Somos una empresa de telecomunicaciones peruana que brinda servicio de internet y cable, a través de nuestras troncales de fibra óptica, venimos brindando nuestro servicio por más de 5 años.
                </p>
            </div>
            <figure class="">
                <img src="/imgs/pages/about/phone.png" alt="" class="w-[400px]" />
            </figure>
        </section>
        <!-- mobile -->
        <section class="lg:hidden max-w-7xl  flex flex-col items-center m-auto">
           
            <div class="flex flex-col gap-8 py-8">
                <h2
                    class="text-cprimary text-3xl md:text-6xl text-center font-bold"
                >
                    ¿ QUIENES SOMOS?
                </h2>

                <p class="text-cprimary text-center  text-md  w-[300px] sm:w-[400px] m-auto">
                    Somos una empresa de telecomunicaciones peruana que brinda servicio de internet y cable, a través de nuestras troncales de fibra óptica, venimos brindando nuestro servicio por más de 5 años.
                </p>
            </div>
            <figure class="  w-full flex justify-center items-end px-4">
                <img
                src="/imgs/pages/about/man_happy.png"
                class="h-[200px] sm:h-[320px]"
                alt=""
            />
                <img src="/imgs/pages/about/phone.png" alt="" class="" />
            </figure>
        </section>
    </div>
    <div class="bg-about">
        <section
            class="max-w-7xl m-auto flex justify-evenly md:py-16 p-4 gap-5 text-pretty"
        >
            <div class="flex flex-col items-center ">
                <img src="/imgs/pages/about/diana.png" alt="" class="w-20 mb-2 md:w-32" />
                <h3 class="text-4xl font-bold text-cfourth mb-4">MISIÓN</h3>
                <p class="max-w-sm font-medium sm:font-medium text-center">
                    Generar las mejores experiencias digitales a nuestros
                    clientes a través de una cobertura de red 100% fibra óptica,
                    brindando calidad y transparencia.
                </p>
            </div>
            <div class="flex flex-col items-center ">
                <img src="/imgs/pages/about/eye_icon.png " alt="" class="w-20 mb-2 md:w-32" />
                <h3 class="text-4xl font-bold text-cfourth mb-4">VISIÓN</h3>
                <p class="max-w-sm font-medium sm:font-regular  text-center">
                    Ser una empresa de telecomunicaciones reconocida y valorada
                    por nuestros clientes, que brinde confianza y seguridad.
                </p>
            </div>
        </section>
        <section class="p-8">
            <h2 class="text-center">
                <div
                    class="inline-block mb-8 md:mb-16 text-xl md:text-4xl font-bold text-cprimary bg-fourth p-2 px-6  rounded-2xl"
                >
                    NUESTROS VALORES
                </div>
            </h2>

            <div
                class="flex flex-wrap justify-center gap-16 max-w-6xl m-auto text-white "
            >
                {
                    ourValues.map((values) => {
                        return (
                            <div class=" container_values bg-secondary w-[250px] h-[250px] rounded-3xl flex flex-col justify-center items-center gap-3">
                                <img src={values.url} alt="" />
                                <h2 class="inline-block bg-fourth px-4 py-1 rounded-2xl">
                                    {values.name}
                                </h2>
                                <p class="text-center px-4">
                                    {values.description}
                                </p>
                            </div>
                        );
                    })
                }
            </div>
        </section>
    </div>
</Layout>
<style>
    .container_values {
        animation: change linear forwards;
        view-timeline: --appears block 80% auto;
        animation-timeline: --appears;
        animation-range: entry 0% cover 50%;
    }
    @keyframes change {
        from {
            transform: translateY(100px);
            opacity: 0;
        }
        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
</style>
