

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="w-full h-screen flex flex-col justify-center items-center">
    <figure>
        <img src="gigamas_logo.png" alt="">
    </figure>
    <form id="myForm" class="p-4 flex flex-col gap-8">
        <input type="text" name="name" placeholder="Name" required class="h-12 w-64 outline-none border-2  px-4 rounded-md"/>
        <input type="password" name="password" placeholder="Password" required class="h-12 w-64 outline-none border-2  px-4 rounded-md"/>
        <button id="btnSend" type="submit" class="h-12 w-64 bg-secondary rounded-md text-white hover:scale-105 transition-all duration-100">Descargar</button>
    </form>

    <script>
        const form = document.querySelector<HTMLFormElement>("#myForm");
        const btnSend = document.getElementById("btnSend") as HTMLButtonElement;

        form?.addEventListener("submit", (e: Event) => {
            e.preventDefault();
            btnSend!.textContent = "descargando..."
            const formElements = e.currentTarget as HTMLFormElement;
            const inputName = (formElements.elements.namedItem("name") as HTMLInputElement)
            const name = inputName?.value

            const InputPassword = (formElements.elements.namedItem("password") as HTMLInputElement)
            const password = InputPassword?.value;

            const data = {
                name,
                password,
            };
            console.log(name, password);

            async function getData() {
                try {
                    const res = await fetch("http://localhost/downloadexcel/download.php", {
                        headers: {
                            "Content-Type": "application/json",
                        },
                        method: "POST",
                        body: JSON.stringify(data),
                    });

                    if (!res.ok) {
                  
                        btnSend!.textContent = "Incorrecto"
                        const errorResponse = await res.json();
                        throw new Error(`Error: ${errorResponse.error}`);
                    }
                    btnSend!.textContent = "Descargado"
                    const blob = await res.blob();
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement("a");
                    a.style.display = "none";
                    a.href = url;
                    a.download = "datos.xlsx";
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);


                } catch (error) {
                    btnSend!.textContent = "Ocurrio un error"
                
                    console.error("Error al obtener los datos:", error);
                }finally{
                    setTimeout(()=>{
                        btnSend!.textContent = "descargar"
                    },2000)
                    
                }
            }

            getData();
        });
    </script>
</body>
</html>


</html>
