---
import Layout from "../layouts/Layout.astro";
import Benefits from "../components/section/Benefits.astro";
import Plans from "../components/section/Plans.astro";
import Service from "../components/section/Service.astro";
import Location from "../components/section/Location.astro";
import Terms from "../components/section/Terms.astro";
import Footer from "../components/section/Footer.astro";
import BottomWhatsapp from "../components/BottomWhatsapp.astro";
import SwiperSliderHero  from "../components/SwiperSlidersHero";
import Form from "../components/Form"
import NavbarMobile from "../components/NavbarMobile.astro";
import { LinkWhatsaapCustomer} from "../data";
---

<Layout title="Gigamas,el internet que te da mas.">
	<main class="">
		<!-- type bussines -->
		<!-- <div class="w-full flex justify-end max-w-7xl m-auto">
			<div class="rounded-b-lg overflow-hidden flex">
				<a href="" class="inline-block bg-fourth px-6 py-1 text-cprimary">Hogar</a>
				<a href="" class="px-4 py-1 text-black bg-slate-100">Corporación</a>
			</div>
		</div> -->
		<!-- header -->
		<div class="py-2 md:py-8">
			<!-- desktop -->
			<div
				class="hidden w-full md:flex justify-between items-center max-w-7xl m-auto"
			>
				<figure>
					<a href="/">
						<img src="./imgs/gigamas_logo.png" alt="" class="w-32" />
					</a>
				</figure>
				<nav class="flex gap-8">
					<a href="#planes" class="font-medium transition-all hover:scale-105 duration-100 hover:md:font-bold  hover:md:text-secondary">Planes</a>
					<a href="#contacto" class="font-medium transition-all hover:scale-105 duration-100 hover:md:font-bold hover:md:text-secondary">Contacto</a>
					<a href="#servicios" class="font-medium transition-all hover:scale-105 duration-100 hover:md:font-bold hover:md:text-secondary">Servicios</a>

				</nav>
				<a target="_blank"
				href={LinkWhatsaapCustomer} class="bg-fourth p-2 px-8 py-3 font-bold text-cprimary rounded-full transition-all hover:scale-105 duration-100">
					CONTACTAR AHORA
				</a>
			</div>
			<!-- Mobile -->
			<NavbarMobile/>
		</div>
		<!-- slider -->
		<div class="w-full   ">
			<!-- <img src="bg_prueba.webp" alt="" /> -->
			<SwiperSliderHero client:load/>
			<!-- <section class="sowertec-section  bg-secondary ">

				<img src="./imgs/banner_fiesta_patrias.webp" class="object-cover lg:w-full h-[397px] lg:h-auto sm:object-cover sm:h-auto " alt="">
			</section> -->
		</div>
		<!-- form  -->
		<Form client:load/>
		


	</main>

	<div>
		<Benefits />
		<Plans />
		<div class="w-full shadow-sm ">
			<Service />
		</div>
		<Location />
		<Terms />
		<Footer />
	</div>
	 <BottomWhatsapp></BottomWhatsapp>
	<style></style>
</Layout>
