---
import Layout from "../layouts/Layout.astro";
import Benefits from "../components/section/Benefits.astro";
import Plans from "../components/section/Plans.astro";
import Service from "../components/section/Service.astro";
import Location from "../components/section/Location.astro";
import Terms from "../components/section/Terms.astro";
import Footer from "../components/section/Footer.astro";
import BottomWhatsapp from "../components/BottomWhatsapp.astro";
---

<Layout title="Gigamas,el internet que te da mas.">
	<main class="">
		<!-- type bussines -->
		<!-- <div class="w-full flex justify-end max-w-7xl m-auto">
			<div class="rounded-b-lg overflow-hidden flex">
				<a href="" class="inline-block bg-fourth px-6 py-1 text-cprimary">Hogar</a>
				<a href="" class="px-4 py-1 text-black bg-slate-100">Corporación</a>
			</div>
		</div> -->
		<!-- header -->
		<div class="mb-4">
			<!-- desktop -->
			<div
				class="hidden w-full md:flex justify-between items-center max-w-7xl m-auto"
			>
				<figure>
					<img src="gigamas_logo.png" alt="" />
				</figure>
				<nav class="flex gap-8">
					<a href="#planes">Planes</a>
					<a href="#contacto">Contacto</a>
				</nav>
				<a target="_blank"
				href="https://api.whatsapp.com/send?phone=51983422178" class="bg-fourth p-2 px-8 py-3 font-bold text-cprimary rounded-full">
					CONTACTAR AHORA
				</a>
			</div>
			<!-- Mobile -->
			<div
				class="w-full h-16 p-4 flex justify-between items-center md:hidden"
			>
				<strong> GIGAMAS</strong>
				<figure>
					<img src="menu.svg" alt="" />
				</figure>
			</div>
		</div>
		<!-- slider -->
		<div class="w-full bg-secondary">
			<img src="bg_prueba.webp" alt="" />
		</div>
		<!-- form  -->
		<div class="w-full bg-form p-4 py-16 mb-16">
			<h2 class="mb-8 text-center text-3xl font-bold">
				<span class="text-csecondary">Dejanos Tu Información,</span>
				<br /><span class="text-cprimary"> te Contactaremos.</span>
			</h2>
			<div class="flex gap-4 flex-wrap justify-center mb-8">
				<input
					type="text"
					class="w-36 h-8 md:w-56 md:h-12 bg-primary rounded-full px-4"
					placeholder="nombre"
				/>
				<input
					type="text"
					class="w-36 h-8 md:w-56 md:h-12 bg-primary rounded-full px-4"
					placeholder="telefono"
				/>
				<select class="w-36 h-8 md:w-56 md:h-12 rounded-full px-4">
					<option value="internet">Internet</option>
					<option value="internet_cable">Cable TV</option>
					<option value="cable">Internet + cable</option> px-4
					<option value="cámaras">Cámaras</option>
				</select>
			</div>
			<div class="flex justify-center my-4">
				<button
					class="bg-secondary px-16 py-2 md:w-56 md:h-12 rounded-full text-white"
				>
					Enviar</button
				>
			</div>
		</div>

		<h2 class="text-xl mb-8 text-center">
			Dejanos tu información y te Contactaremos.
		</h2>

	</main>

	<div>
		<Benefits />
		<Plans />
		<Service />
		<Location />
		<Terms />
		<Footer />
	</div>
	 <BottomWhatsapp></BottomWhatsapp>
	<style></style>
</Layout>
