---
import Layout from "../layouts/Layout.astro";
import Benefits from "../components/section/Benefits.astro";
import Plans from "../components/section/Plans.astro";
import Service from "../components/section/Service.astro";


---

<Layout title="Gigamas,el internet que te da mas.">
	<main class="">
		<!-- type bussines -->
		<div class="w-full flex justify-end max-w-7xl m-auto">
			<div class="rounded-b-lg overflow-hidden mb-4">
				<a href="" class="bg-secondary p-2 text-cprimary">Hogar</a>
				<a href="" class="p-2 text-black">Corporaci칩n</a>
			</div>
		</div>
		<!-- header -->
		<div>
			<!-- desktop -->
			<div
				class="hidden w-full md:flex justify-between items-center max-w-7xl m-auto"
			>
				<figure>
					<img src="gigamas_logo.png" alt="" />
				</figure>
				<nav>
					<a href="">Home</a>
					<a href="">Planes</a>
					<a href="">Contacto</a>
				</nav>
				<button
					class="bg-secondary p-2 px-8 text-cprimary rounded-full"
				>
					CONTACTAR AHORA
				</button>
			</div>
			<!-- Mobile -->
			<div class="w-full h-16 p-4 flex justify-between items-center md:hidden">
				<strong> GIGAMAS</strong>
				<figure>
					<img src="menu.svg" alt="" />
				</figure>
			</div>
		</div>
		<!-- slider -->
		<div class="w-full bg-secondary ">
			<img src="banner_gigamas.png" alt="">
		</div>
		<!-- form  -->
		<div class="w-full bg-third p-4 py-16">
			<h2 class="text-xl mb-8 text-center">
				Dejanos tu informaci칩n, y te Contactaremos.
			</h2>
			<div class="flex gap-4 flex-wrap justify-center">
				<input
					type="text"
					class="w-36 h-8 bg-primary rounded-full px-4"
					placeholder="nombre"
				/>
				<input
					type="text"
					class="w-36 h-8 bg-primary rounded-full px-4"
					placeholder="telefono"
				/>
				<select class="w-36 h-8 rounded-full px-4">
					<option value="internet">Internet</option>
					<option value="internet_cable">Cable TV</option>
					<option value="cable">Internet + cable</option> px-4
					<option value="c치maras">C치maras</option>
				</select>
			</div>
			<div class="flex justify-center my-4">
				<button class="bg-fourth px-16 py-2 rounded-full text-white">
					Enviar</button
				>
			</div>
		</div>

		
		<div>
			<Benefits >
		</div>
		<Plans />
		<Service/>
		<!-- <Location/> -->
		<div class="h-64"></div>
	</main>

	<style></style>
</Layout>
