---
import Layout from "../layouts/Layout.astro";
import Benefits from "../components/section/Benefits.astro";
import Plans from "../components/section/Plans.astro";
import Terms from "../components/section/Terms";
import SwiperSliderHero from "../components/SwiperSlidersHero";
import Form from "../components/Form";
import ExtraCard from "../components/section/ExtraCard.astro";
import SwiperSliderInfo from "../components/section/SwiperSliderInfo";
import Dropdown from "../components/section/Terms";


---

<Layout title="Gigamas,el internet que te da mas.">
	<main class="">

		<div class="w-full aspect-[3/4] sm:aspect-[3.42/1]">
			<SwiperSliderHero client:only="react" />
		</div>

		<!-- SLIDER ABOVE MAIN -->

		<div
			class="flex flex-col justify-center gap-8 bg-custom-gradient-global text-cprimary py-4"
		>
			<p
				class="text-2xl text-center font-bold md:text-3xl rounded-xl font-regular"
			>
				¿Eres nuevo en <strong>GIGAMAS</strong>?
			</p>
			<div>
				<SwiperSliderInfo client:load />
			</div>
		</div>
	</main>

	<div>
		<div class="bg-plata bg-cover py-8">
			<Plans />
		</div>
		<div class="bg-plata  bg-cover ">
			<Benefits />
			<ExtraCard />
			<Dropdown client:only="react" />
			<Form client:idle />
		</div>
	</div>
	
	   

</Layout>

