---
import Layout from "../layouts/Layout.astro";
import Benefits from "../components/section/Benefits.astro";
import Plans from "../components/section/Plans.astro";
import Service from "../components/section/Service.astro";
import Location from "../components/section/Location.astro";
import Terms from "../components/section/Terms.astro";
import Footer from "../components/section/Footer.astro";
import BottomWhatsapp from "../components/BottomWhatsapp.astro";
import SwiperSliderHero  from "../components/SwiperSlidersHero";
import Form from "../components/Form"
---

<Layout title="Gigamas,el internet que te da mas.">
	<main class="">
		<!-- type bussines -->
		<!-- <div class="w-full flex justify-end max-w-7xl m-auto">
			<div class="rounded-b-lg overflow-hidden flex">
				<a href="" class="inline-block bg-fourth px-6 py-1 text-cprimary">Hogar</a>
				<a href="" class="px-4 py-1 text-black bg-slate-100">Corporación</a>
			</div>
		</div> -->
		<!-- header -->
		<div class="mb-4">
			<!-- desktop -->
			<div
				class="hidden w-full md:flex justify-between items-center max-w-7xl m-auto"
			>
				<figure>
					<a href="/">
						<img src="gigamas_logo.png" alt="" />
					</a>
				</figure>
				<nav class="flex gap-8">
					<a href="#planes">Planes</a>
					<a href="#contacto">Contacto</a>
				</nav>
				<a target="_blank"
				href="https://api.whatsapp.com/send?phone=51983422178" class="bg-fourth p-2 px-8 py-3 font-bold text-cprimary rounded-full">
					CONTACTAR AHORA
				</a>
			</div>
			<!-- Mobile -->
			<div
				class="w-full h-16 p-4 flex justify-between items-center md:hidden"
			>
				<strong> GIGAMAS</strong>
				<figure>
					<img src="menu.svg" alt="" />
				</figure>
			</div>
		</div>
		<!-- slider -->
		<div class="w-full bg-secondary">
			<!-- <img src="bg_prueba.webp" alt="" /> -->
			<SwiperSliderHero client:load/>
		</div>
		<!-- form  -->
		<Form client:load/>
		


	</main>

	<div>
		<Benefits />
		<Plans />
		<Service />
		<Location />
		<Terms />
		<Footer />
	</div>
	 <BottomWhatsapp></BottomWhatsapp>
	<style></style>
</Layout>
