---
import Form from "../components/Form";
import SwiperSlider from "../components/SwiperSliders";
import TittlePage from "../components/TittlePage.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Planes de Internet y Cable en Gigamas | Elige el Mejor Plan para Ti">

    <div class="flex flex-col gap-[30px] lg:gap-[50px]">
        <TittlePage title="SIN COSTO DE INSTALACIÓN EN " secondTitle="TODOS NUESTROS PLANES" />
        <div class="p-[16px] py-[16px] flex flex-col  gap-[30px]  lg:gap-[50px]  ">
            <div class="flex text-[9px] gap-[10px] text-center justify-center text-base sm:text-lg lg:text-xl">
                <p class="text-sixth">Planes Internet 100% <span class="font-bold" >FIBRA OPTICA</span> </p> |
                <p class="text-secondary">Planes DÚO <span class="font-bold">(INTERNET + CABLE TV)</span> </p>
            </div>
            <div class="w-full max-w-7xl m-auto">
                <SwiperSlider client:visible />
            </div>

            <div>
                <Form client:visible/>
            </div>

        </div>

    </div>
</Layout>