<div class="relative">
    <div class="container">
        <section id="ws" class="hidden" data-ws="">
            <header class="" id="header-wp">
                <div class="header_icon_wp">
                    <svg
                        width="32px"
                        height="32px"
                        class="nta-whatsapp-default-avatar"
                        version="1.1"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 512 512"
                        style="enable-background:new 0 0 512 512;"
                        xml:space="preserve"
                    >
                        <path
                            style="fill:#EDEDED;"
                            d="M0,512l35.31-128C12.359,344.276,0,300.138,0,254.234C0,114.759,114.759,0,255.117,0
                  S512,114.759,512,254.234S395.476,512,255.117,512c-44.138,0-86.51-14.124-124.469-35.31L0,512z"
                        ></path>
                        <path
                            style="fill:#55CD6C;"
                            d="M137.71,430.786l7.945,4.414c32.662,20.303,70.621,32.662,110.345,32.662
                  c115.641,0,211.862-96.221,211.862-213.628S371.641,44.138,255.117,44.138S44.138,137.71,44.138,254.234
                  c0,40.607,11.476,80.331,32.662,113.876l5.297,7.945l-20.303,74.152L137.71,430.786z"
                        ></path>
                        <path
                            style="fill:#FEFEFE;"
                            d="M187.145,135.945l-16.772-0.883c-5.297,0-10.593,1.766-14.124,5.297
                  c-7.945,7.062-21.186,20.303-24.717,37.959c-6.179,26.483,3.531,58.262,26.483,90.041s67.09,82.979,144.772,105.048
                  c24.717,7.062,44.138,2.648,60.028-7.062c12.359-7.945,20.303-20.303,22.952-33.545l2.648-12.359
                  c0.883-3.531-0.883-7.945-4.414-9.71l-55.614-25.6c-3.531-1.766-7.945-0.883-10.593,2.648l-22.069,28.248
                  c-1.766,1.766-4.414,2.648-7.062,1.766c-15.007-5.297-65.324-26.483-92.69-79.448c-0.883-2.648-0.883-5.297,0.883-7.062
                  l21.186-23.834c1.766-2.648,2.648-6.179,1.766-8.828l-25.6-57.379C193.324,138.593,190.676,135.945,187.145,135.945"
                        ></path>
                    </svg>
                </div>
                <div>
                    <div class="text-lg">Iniciar una conversación</div>
                    <div class="text-xs">
                        ¡Hola! Haga clic en uno de nuestros miembros a
                        continuación para chatear WhatsApp
                    </div>
                </div>
            </header>
            <div class="container_worker_wp">
                <a
                    class="worker_wp"
                    target="_blank"
                    href="https://api.whatsapp.com/send?phone=51999032000"
                    rel="nofollow noopener noreferrer"
                    class="bg-neutral-100 border-l-2 border-green-500 p-4 rounded flex gap-4 hover:shadow-lg transition-shadow duration-300"
                >
                    <div>
                        <svg
                            width="32px"
                            height="32px"
                            class="nta-whatsapp-default-avatar"
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;"
                            xml:space="preserve"
                        >
                            <path
                                style="fill:#EDEDED;"
                                d="M0,512l35.31-128C12.359,344.276,0,300.138,0,254.234C0,114.759,114.759,0,255.117,0
                  S512,114.759,512,254.234S395.476,512,255.117,512c-44.138,0-86.51-14.124-124.469-35.31L0,512z"
                            ></path>
                            <path
                                style="fill:#55CD6C;"
                                d="M137.71,430.786l7.945,4.414c32.662,20.303,70.621,32.662,110.345,32.662
                  c115.641,0,211.862-96.221,211.862-213.628S371.641,44.138,255.117,44.138S44.138,137.71,44.138,254.234
                  c0,40.607,11.476,80.331,32.662,113.876l5.297,7.945l-20.303,74.152L137.71,430.786z"
                            ></path>
                            <path
                                style="fill:#FEFEFE;"
                                d="M187.145,135.945l-16.772-0.883c-5.297,0-10.593,1.766-14.124,5.297
                  c-7.945,7.062-21.186,20.303-24.717,37.959c-6.179,26.483,3.531,58.262,26.483,90.041s67.09,82.979,144.772,105.048
                  c24.717,7.062,44.138,2.648,60.028-7.062c12.359-7.945,20.303-20.303,22.952-33.545l2.648-12.359
                  c0.883-3.531-0.883-7.945-4.414-9.71l-55.614-25.6c-3.531-1.766-7.945-0.883-10.593,2.648l-22.069,28.248
                  c-1.766,1.766-4.414,2.648-7.062,1.766c-15.007-5.297-65.324-26.483-92.69-79.448c-0.883-2.648-0.883-5.297,0.883-7.062
                  l21.186-23.834c1.766-2.648,2.648-6.179,1.766-8.828l-25.6-57.379C193.324,138.593,190.676,135.945,187.145,135.945"
                            ></path>
                        </svg>
                    </div>
                    <div>
                        <div class="wp_title_worker">Daniel Paz</div>
                        <div class="wp_desc_worker">
                            Escríbeme para una cualquier consulta
                        </div>
                    </div>
                </a>
                <a
                    class="worker_wp"
                    target="_blank"
                    href="https://api.whatsapp.com/send?phone=51999032000"
                    rel="nofollow noopener noreferrer"
                    class="bg-neutral-100 border-l-2 border-green-500 p-4 rounded flex gap-4 hover:shadow-lg transition-shadow duration-300"
                >
                    <div>
                        <svg
                            width="32px"
                            height="32px"
                            class="nta-whatsapp-default-avatar"
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;"
                            xml:space="preserve"
                        >
                            <path
                                style="fill:#EDEDED;"
                                d="M0,512l35.31-128C12.359,344.276,0,300.138,0,254.234C0,114.759,114.759,0,255.117,0
                  S512,114.759,512,254.234S395.476,512,255.117,512c-44.138,0-86.51-14.124-124.469-35.31L0,512z"
                            ></path>
                            <path
                                style="fill:#55CD6C;"
                                d="M137.71,430.786l7.945,4.414c32.662,20.303,70.621,32.662,110.345,32.662
                  c115.641,0,211.862-96.221,211.862-213.628S371.641,44.138,255.117,44.138S44.138,137.71,44.138,254.234
                  c0,40.607,11.476,80.331,32.662,113.876l5.297,7.945l-20.303,74.152L137.71,430.786z"
                            ></path>
                            <path
                                style="fill:#FEFEFE;"
                                d="M187.145,135.945l-16.772-0.883c-5.297,0-10.593,1.766-14.124,5.297
                  c-7.945,7.062-21.186,20.303-24.717,37.959c-6.179,26.483,3.531,58.262,26.483,90.041s67.09,82.979,144.772,105.048
                  c24.717,7.062,44.138,2.648,60.028-7.062c12.359-7.945,20.303-20.303,22.952-33.545l2.648-12.359
                  c0.883-3.531-0.883-7.945-4.414-9.71l-55.614-25.6c-3.531-1.766-7.945-0.883-10.593,2.648l-22.069,28.248
                  c-1.766,1.766-4.414,2.648-7.062,1.766c-15.007-5.297-65.324-26.483-92.69-79.448c-0.883-2.648-0.883-5.297,0.883-7.062
                  l21.186-23.834c1.766-2.648,2.648-6.179,1.766-8.828l-25.6-57.379C193.324,138.593,190.676,135.945,187.145,135.945"
                            ></path>
                        </svg>
                    </div>
                    <div>
                        <div class="wp_title_worker">Jorge Boluarte</div>
                        <div class="wp_desc_worker">
                            Escríbeme para una cualquier consulta
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <button id="btn-w" class="">
            <div id="icon-wp">
                <svg
                    width="32"
                    height="32"
                    class=""
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;"
                    xml:space="preserve"
                >
                    <path
                        style="fill:#EDEDED;"
                        d="M0,512l35.31-128C12.359,344.276,0,300.138,0,254.234C0,114.759,114.759,0,255.117,0
                  S512,114.759,512,254.234S395.476,512,255.117,512c-44.138,0-86.51-14.124-124.469-35.31L0,512z"
                    ></path>
                    <path
                        style="fill:#55CD6C;"
                        d="M137.71,430.786l7.945,4.414c32.662,20.303,70.621,32.662,110.345,32.662
                  c115.641,0,211.862-96.221,211.862-213.628S371.641,44.138,255.117,44.138S44.138,137.71,44.138,254.234
                  c0,40.607,11.476,80.331,32.662,113.876l5.297,7.945l-20.303,74.152L137.71,430.786z"
                    ></path>
                    <path
                        style="fill:#FEFEFE;"
                        d="M187.145,135.945l-16.772-0.883c-5.297,0-10.593,1.766-14.124,5.297
                  c-7.945,7.062-21.186,20.303-24.717,37.959c-6.179,26.483,3.531,58.262,26.483,90.041s67.09,82.979,144.772,105.048
                  c24.717,7.062,44.138,2.648,60.028-7.062c12.359-7.945,20.303-20.303,22.952-33.545l2.648-12.359
                  c0.883-3.531-0.883-7.945-4.414-9.71l-55.614-25.6c-3.531-1.766-7.945-0.883-10.593,2.648l-22.069,28.248
                  c-1.766,1.766-4.414,2.648-7.062,1.766c-15.007-5.297-65.324-26.483-92.69-79.448c-0.883-2.648-0.883-5.297,0.883-7.062
                  l21.186-23.834c1.766-2.648,2.648-6.179,1.766-8.828l-25.6-57.379C193.324,138.593,190.676,135.945,187.145,135.945"
                    ></path>
                </svg>
            </div>
            <div id="icon-close" class="hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    style="fill: rgba(255, 255, 255, 1);"
                >
                    <path
                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                    >
                    </path>
                </svg>
            </div>
        </button>
    </div>
</div>

<style>

    .text-xs {
        font-size: 14px;
    }

    .text-lg {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .hidden {
        display: none;
    }

    .container {
        position: fixed;
        bottom: 30px;
        right: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;
        max-width: 380px;
        
    }

    #btn-w {
        align-self: flex-end;
        justify-self: end;
        background-color: rgb(38, 190, 38);
        border: none;

        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    #ws {
        overflow: hidden;
        max-width: 380px;
        border-radius: 25px;
        font-family: Arial, Helvetica, sans-serif;
        animation: showModal 0.5s ease 0s;
    }

    #header-wp {
        background-color: rgb(38, 190, 38);
        padding: 16px 16px;
        display: flex;
        gap: 20px;
        color: white;
    }

    .header_icon_wp {
        margin: auto;
    }

    .container_worker_wp {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 25px;

        background: white;
    }

    .worker_wp {
        display: flex;
        gap: 8px;
        justify-items: center;
        align-items: center;
        background-color: rgba(8, 8, 8, 0.055);
        padding: 12px;
        text-decoration: none;
        border-radius: 5px;
        border-left: 2px solid rgb(38, 190, 38);
        box-shadow: 0px 0px 5px rgba(41, 40, 40, 0.377);
    }

    .wp_title_worker {
        color: black;
        margin-bottom: 5px;
    }

    .wp_desc_worker {
        color: rgba(56, 54, 54, 0.747);
        font-size: 12px;
    }

    @keyframes showModal {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
</style>

<script>
    /*  btn = document.querySelector(".btn-w"); */
    const btn = document.getElementById("btn-w");
    const iconWp = document.getElementById("icon-wp");
    const iconClose = document.getElementById("icon-close");
    const modalwp = document.getElementById("ws");

    console.log(iconWp, iconClose);
    btn!.addEventListener("click", (e) => {
        modalwp!.classList.toggle("hidden");
        iconWp!.classList.toggle("hidden");
        iconClose!.classList.toggle("hidden");
    });
    
</script>
