---
  interface Props{
    img: string
    text: string
    title:string 
  }

  const { img, text,title } = Astro.props;

---

<div class="w-full sm:max-w-64 sm:h-[324px]  flex sm:flex-col gap-4  p-4 py-4 sm:py-8 rounded-lg border-2 border-secondary/20" >
    <figure>
        <img src={img} alt="" class="min-w-10 h-[80px] m-auto">
    </figure>
    <div>
        <h3 class="font-bold text-center">{title}</h3>
        <p class="text-center">
            {text}
        </p>

    </div>


</div>