<div class="w-full h-16 p-4 flex justify-between items-center md:hidden">
    <figure>
        <a href="/">
            <img src="./imgs/gigamas_logo.png" alt="" class="w-16" />
        </a>
    </figure>
    <figure>
        <img id="btnOpenModal" src="./imgs/menu.svg" alt="Abrir menú" />
    </figure>
    <div id="navbarMobile" class="hidden fixed inset-0 bg-white z-50">
        <div id="closeModal" class="fixed w-full  flex justify-between p-4">
            <figure>
                <a href="/">
                    <img src="./imgs/gigamas_logo.png" alt="" class="w-32" />
                </a>
            </figure>
            <img src="./imgs/close.svg" alt="">
        </div>
        <nav class="flex flex-col justify-center items-center h-full w-full font-semibold text-2xl">
            <a href="#servicios" class="block w-full py-8 text-center hover:bg-secondary hover:text-white">Servicios</a>
            <a href="#planes" class="block w-full py-8 text-center hover:bg-secondary hover:text-white">Planes</a>
            <a href="#contacto" class="block w-full py-8 text-center hover:bg-secondary hover:text-white">Contacto</a>
        </nav>
    </div>
</div>

<script>
    const openModal = document.getElementById("btnOpenModal");
    const navbarMobile = document.getElementById("navbarMobile");

    openModal?.addEventListener("click", () => {
        navbarMobile?.classList.toggle("hidden");
    });

    const closeModal = document.getElementById("closeModal");
    
    const links = navbarMobile?.querySelectorAll("a");

    links?.forEach(link => {
        link.addEventListener("click", () => {
            navbarMobile?.classList.add("hidden");
        });
    });

    closeModal?.addEventListener("click",()=>{
        navbarMobile?.classList.add("hidden");
    })

</script>
