.swiperButtonPrevCustom,
.swiperButtonNextCustom {
 
  color: transparent;
  padding: 10px 20px;
  
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.swiperButtonPrevCustom {
  left: -50px;
  background-image: URL("imgs/plans/icon_preview.png");
  background-repeat: no-repeat;
  background-size: 38px;
  z-index: 100;
}

.swiperButtonNextCustom {
  right: -50px;
  background-image: URL("imgs/plans/icon_next.png");
  background-repeat: no-repeat;
  background-size: 38px;
}

/* .mySwiper {
  position: relative;
}
 */