---
import { dataLinkNavbar } from "../../data";
import NavbarMobile from "../NavbarMobile";
import { navbar_header } from "../../data/components/header";
import NavbarDeskop from "../NavbarDeskop";
---

<div class="">
    <NavbarDeskop client:load />
    <NavbarMobile client:load />
</div>
