<div class="max-w-7xl m-auto px-4 mb-32">
    <h4 class="text-base text-center mb-2 text-sixth/70 font-extrabold">
        UBICACIÓN
    </h4>
    <h2 class="text-2xl text-center font-extrabold mb-4">
        Estamos Cada Vez Más Cerca De Ti
    </h2>
    <p class="max-w-md m-auto mb-16">
        Nos encontramos en una ubicación céntrica para brindarte el mejor
        servicio posible. Visítanos para más información, soporte técnico o para
        conocer más sobre nuestros servicios.
    </p>
    <div class="">
        <div class="m-auto rounded-xl overflow-hidden">
           
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1DQykhd7x8DGhEJsa_6N3ANK_w8s4KQ0&ehbc=2E312F&noprof=1" class="w-full" height="480"></iframe>
        </div>
    </div>
</div>
    