<div>
    <h4 class="text-xs text-center mb-2 text-sixth/70 font-extrabold">
        UBICACIÓN
    </h4>
    <h2 class="text-2xl text-center font-extrabold mb-4">
        Estamos Cada Vez Más Cerca De Ti
    </h2>


</div>
