---
import SwiperSlider from "../SwiperSliders";
---

<div class="max-w-7xl m-auto p-5 lg:px-0 lg:py-16 mb-8">
    <h4 class="text-xs text-center mb-2 text-sixth/70 font-extrabold">TU MEJOR OPCIÓN EN CONECTIVIDAD</h4>
    <h2 class="text-2xl text-center font-extrabold mb-4">Descubre los Beneficios de Nuestro Servicio de Internet </h2>
    <p class="mb-8 md:mb-16 max-w-lg text-center m-auto">
        Ofrecemos una variedad de opciones diseñadas para adaptarse a todas tus necesidades, desde navegación básica hasta streaming y juegos en línea.
    </p>
    <SwiperSlider client:load/>
    <p class="text-xs font-medium text-sixth">NOTA: Esta promoción es valida por 1 año para los nuevas instalaciónes. Para las instalaciones fuera de lima  la instalaciones se cobrarán previa revision.</p>
</div>