---
import SwiperSliderCanales from "../SwiperSliderCanales";
---

<div class="py-8 px-5 max-w-7xl m-auto mb-16">
    <h4 class="text-xs text-center mb-2 text-sixth/70 font-extrabold">
        SERVICICIOS
    </h4>
    <!-- cable -->
    <div class="mb-16">
        <h2 class="text-4xl text-center font-extrabold mb-16 md:mb-16">
            Los Mejores Servicios Para Ti
        </h2>
        <div class="grid sm:grid-cols-2 gap-8">
            <div class="flex flex-col justify-center">
                <h4
                    class="text-xs text-start mb-2 text-sixth/70 font-extrabold"
                >
                    SERVICICIO DE CABLE
                </h4>
                <h3
                    class="text-2xl sm:text-start font-medium mb-8 lg:text-4xl lg:max-w-sm"
                >
                    Disfruta De Las Mejores Series Con Cable
                </h3>
                <p class="mb-8 max-w-md">
                    Conéctate con nuestra fibra óptica y disfruta de internet
                    ultrarrápido y cable de alta calidad. Navega, haz streaming
                    y juega en línea sin interrupciones, mientras disfrutas de
                    tus canales favoritos. ¡Transforma tu hogar en un centro de
                    entretenimiento hoy mismo!
                </p>
                <div class="hidden sm:block">
                    <button
                        class="text-xs sm:text-base bg-secondary px-6 py-3 sm:px-10 sm:py-4 rounded-full font-bold text-white"
                        >SOLICITAR AHORA
                    </button>
                </div>
            </div>
            <img
                src="family_alegre.jpg"
                alt=""
                class="w-full max-w-xl rounded-lg"
            />
            <div class="flex justify-center sm:hidden">
                <button
                    class="text-xs sm:text-base bg-secondary px-6 py-3 sm:px-10 sm:py-4 rounded-full font-bold text-white"
                    >SOLICITAR CABLE + INTERNET
                </button>
            </div>
        </div>
    </div>

    <!-- slider canales -->
    <div class="relative mb-16">
        <div class="absolute -top-4 w-full text-center">
            <span class="relative bg-white px-4 z-50 text-2xl font-bold">
                +60 CANALES
            </span>
        </div>
        <SwiperSliderCanales client:load />
    </div>
    <!-- vigilancia -->
    <div>
        <div class="grid sm:grid-cols-2">
            <div
                class="sm:order-2 lg:gap-0 flex flex-col justify-center items-end max-w-md justify-self-end"
            >
                <h4
                    class="text-xs text-start mb-2 text-sixth/70 font-extrabold w-full"
                >
                    <div class="w-full">VENTA DE CÁMARAS</div>
                </h4>
                <h2
                    class="text-2xl sm:text-start font-medium mb-8 lg:text-4xl lg:max-w-md"
                >
                    Vigilancia de Confianza para tu Tranquilidad
                </h2>
                <p class="max-w-md mb-8">
                    Descubre nuestras cámaras de seguridad de alta tecnología,
                    diseñadas para proteger lo que más quieres. Con resolución
                    HD, visión nocturna y alertas instantáneas, tendrás la
                    certeza de que tu hogar o negocio están siempre bajo
                    vigilancia.
                </p>
                <div class="hidden sm:flex w-full gap-4">
                    <button
                        class="text-xs sm:text-base bg-secondary px-6 py-3 sm:px-10 sm:py-4 rounded-full font-bold text-white"
                        >SOLICITAR AHORA
                    </button>
                    <button
                        class="text-xs sm:text-base border-2 px-6 py-3 sm:px-10 sm:py-4 rounded-full font-bold"
                        >VER MAS
                    </button>
                </div>
            </div>
            <img
                src="test-camaras.jpg"
                alt=""
                class="w-full max-w-xl rounded-lg"
            />
            <div class="flex gap-4 justify-start w-full sm:hidden">
                <button
                    class="text-xs sm:text-base bg-secondary px-6 py-3 sm:px-10 sm:py-4 rounded-full font-bold text-cprimary"
                    >COTIZAR CÁMARAS
                </button>
                <button
                    class="text-xs sm:text-base border-2 px-6 py-3 sm:px-10 sm:py-4 rounded-full font-bold"
                    >VER MAS
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="max-w-7xl">
    <h2 class="text-2xl sm:text-start font-medium mb-8 lg:text-4xl lg:max-w-sm">
        Te instalamos la Cámaras con internet y la dejamos instalados
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est
        fuga nisi magnam, possimus deleniti officiis numquam nesciunt,
        consectetur quam, reprehenderit ipsum sed odit dolor beatae
        architecto odio quaerat sit quia.
    </p>
    <div class="flex justify-center">
        <button
            class="text-xs sm:text-base bg-secondary px-6 py-3 sm:px-10 sm:py-4 rounded-full font-bold text-white"
            >SOLICITAR AHORA
        </button>
    </div>
</div> -->
