---
import { dataTerms } from "../../data";
---

<div class="px-4 max-w-7xl m-auto mb-32">
    <h4 class="text-xs text-center mb-2 text-sixth/70 font-extrabold">
        TERMINOS Y CONDICIONES
    </h4>
    <h2 class="text-2xl text-center font-extrabold mb-16">Resuelve Tus Dudas</h2>
    <div class="rounded-xl overflow-hidden">
        <!-- item -->
        <div>
            <div class="bg-fifth ">
                <div class="term_title flex items-center gap-4 justify-between p-6 cursor-pointer">
                    <p class="text-base text-black/80 font-medium ">
                        ¿Qué requisitos necesito para que me instalen internet ? 
                    </p>
                    <figure class="w-8 ">
                        <img src="arrow_down.svg" alt="arrow_down" />
                        <img src="arrow_up.svg" alt="" class="arrow_up hidden">
                    </figure>
                </div>

                <div class="term_description hidden w-full pb-4  px-6">
                    <div class=" text-black/70">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, aperiam, necessitatibus pariatur incidunt molestias molestiae nesciunt adipisci debitis eligendi qui maiores laboriosam omnis ipsam repudiandae doloribus. Saepe ea quo minima!
                    </div>  
                </div>
            </div>
            <hr />
        </div>
        <!-- item -->
        <div>
            <div class="bg-fifth ">
                <div class="term_title flex items-center gap-4 justify-between p-6 cursor-pointer">
                    <p class="text-base text-black/80 font-medium ">
                        ¿Qué requisitos necesito para que me instalen internet ? 
                    </p>
                    <figure class="w-8">
                        <img src="arrow_down.svg" alt="arrow_down" />
                        <img src="arrow_up.svg" alt="" class="arrow_up hidden">
                    </figure>
                </div>

                <div class="term_description hidden w-full pb-4  px-6">
                    <div class=" text-black/70">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, aperiam, necessitatibus pariatur incidunt molestias molestiae nesciunt adipisci debitis eligendi qui maiores laboriosam omnis ipsam repudiandae doloribus. Saepe ea quo minima!
                    </div>  
                </div>
            </div>
            <hr />
        </div>
        <!-- item -->
        <div>
            <div class="bg-fifth ">
                <div class="term_title flex items-center gap-4 justify-between p-6 cursor-pointer">
                    <p class="text-base text-black/80 font-medium ">
                        ¿Qué requisitos necesito para que me instalen internet ? 
                    </p>
                    <figure class="w-8">
                        <img src="arrow_down.svg" alt="arrow_down" />
                        <img src="arrow_up.svg" alt="" class="arrow_up hidden">
                    </figure>
                </div>

                <div class="term_description hidden w-full pb-4  px-6">
                    <div class=" text-black/70">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, aperiam, necessitatibus pariatur incidunt molestias molestiae nesciunt adipisci debitis eligendi qui maiores laboriosam omnis ipsam repudiandae doloribus. Saepe ea quo minima!
                    </div>  
                </div>
            </div>
            <hr />
        </div>

  

       
    </div>
</div>

<script>
    const termTitle = document.querySelectorAll(".term_title");
    const termDescription = document.querySelectorAll(".term_description");

    const arrowDown = document.querySelector(".arrow_down")
    const arrowUp = document.querySelector(".arrow_up")



    termTitle.forEach((title) => {
        title?.addEventListener("click", (e) => {
            const nextElement = title.nextElementSibling;
            nextElement?.classList.toggle("hidden");
            const imgElement = title.children[1].children[0];
            const imgElement2 = title.children[1].children[1];
            imgElement.classList.toggle("hidden")
            imgElement2.classList.toggle("hidden")
        });
    });

    termTitle;
</script>
