---
import { ViewTransitions } from 'astro:transitions';
import NavbarTypeBusiness from '../components/NavbarTypeBusiness.astro';
import Footer from '../components/section/Footer.astro';
import Header from '../components/section/Header.astro';
import WhatsAppWidget from '../components/BottomWhatsapp.tsx';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<!-- Agregar ahrefs para analizar la página web -->
		<script src="https://analytics.ahrefs.com/analytics.js" data-key="PydU2Gxu8+r2FzQkbMafXA" async></script>
	
		<meta charset="UTF-8" />
		<meta name="description" content="Ofrecemos servicios de internet y cable de alta calidad en Villa María del Triunfo, San Juan de Miraflores, Surco, Lunahuaná y Cañete. Conexión rápida y confiable para tu hogar o negocio." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="imgs/favicon_gigamas.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<ViewTransitions/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>

	</head>
	<body class="">
	
		<NavbarTypeBusiness  />
		<Header />
		<slot />
		<Footer/>
		<WhatsAppWidget client:only="react"/>
	</body>
</html>
<style is:global>
	:root {
		margin: 0px;
		box-sizing: border-box;
	}
	body {
		width: 100%;
		font-family: "Rubik", sans-serif;
	}
	code {
		font-family: "Rubik", sans-serif;
	}
</style>
